<!DOCTYPE html>
<html>
<head>
<title>水煮蛋·案例欣赏</title>
<link href="public/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id = "top"></div>
    <div id = "left">
        <b id = "leftheading">案例欣赏</b>
        <div id = "catigory">
            <p class = "hov" id= "now">北大附中基础VI</p>
            <div class = "sub">
                <p class = "hovsub" id = "on">标志</p>
                <p class = "hovsub">证书</p>
            </div>
            <p class = "hov">北大附中宣传品</p>
            <p class = "hov">大型校园活动</p>
            <p class = "hov">小型校园活动</p>
        </div>
    </div>
    

    <div id = "right">
        <p id = "rightheading">案例欣赏 > 北大附中基础VI ></p>
        <div class = "blocks" onClick="javascript:window.location.href='./11/fudaozhongxin.html'">
            <img class= "pictures" src="./11/1.jpg">
            <p class = "itemname">&nbsp&nbsp成长辅导中心logo</p>
        </div>
        <div class = "blocks" onClick="javascript:window.location.href='./11/fuzhongbiaozhi.html'">
            <img class= "pictures" src="./11/2.jpg">
            <p class = "itemname">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp附中标志</p>
        </div>
        <div class = "blocks" onClick="javascript:window.location.href='./11/heixiazijuchang.html'">
            <img class= "pictures" src="./11/3.jpg">
            <p class = "itemname">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp黑匣子剧场</p>
        </div>
        <div class = "blocks" onClick="javascript:window.location.href='./11/kaifangribiaozhi.html'">
            <img class= "pictures" src="./11/4.jpg">
            <p class = "itemname">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp开放日标志</p>
        </div>
        <div class = "blocks" onClick="javascript:window.location.href='./11/lanqiusaibiaozhi.html'">
            <img class= "pictures" src="./11/5.jpg">
            <p class = "itemname">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp篮球赛标志</p>
        </div>
        <div class = "blocks" onClick="javascript:window.location.href='./11/wudaojie.html'">
            <img class= "pictures" src="./11/6.jpg">
            <p class = "itemname">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp舞蹈节logo</p>
        </div>
        <div class = "blocks" onClick="javascript:window.location.href='./11/wudaotuanbiaozhi.html'">
            <img class= "pictures" src="./11/7.jpg">
            <p class = "itemname">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp舞蹈团标志</p>
        </div>
        <div class = "blocks" onClick="javascript:window.location.href='./11/xijujiebiaozhi.html'">
            <img class= "pictures" src="./11/8.jpg">
            <p class = "itemname">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp戏剧节标志</p>
        </div>
        <div class = "blocks" onClick="javascript:window.location.href='./11/xiaoyouhui.html'">
            <img class= "pictures" src="./11/9.jpg">
            <p class = "itemname">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp北大附中校友会</p>
        </div>
        <div class = "blocks" onClick="javascript:window.location.href='./11/xiaoyouri.html'">
            <img class= "pictures" src="./11/10.jpg">
            <p class = "itemname">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp北大附中校友日</p>
        </div>
        <div class = "blocks" onClick="javascript:window.location.href='./11/yishuzhongxin.html'">
            <img class= "pictures" src="./11/11.jpg">
            <p class = "itemname">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp艺术中心logo</p>
        </div>
        <div class = "blocks" onClick="javascript:window.location.href='./11/guoyueshe.html'">
            <img class= "pictures" src="./11/12.jpg">
            <p class = "itemname">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp银杏国乐社标志</p>
        </div>
        <div class = "blocks" onClick="javascript:window.location.href='./11/zuqiusai.html'">
            <img class= "pictures" src="./11/13.jpg">
            <p class = "itemname">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp足球赛logo</p>
        </div>
    </div>
</body>
</html>